.container{

    background-color: black;
    color: white;
}
#heading {
    color: rgb(185, 127, 4);
    text-shadow: 4px 4px 3px black;
}
body{

    background-color: rgb(0, 62, 62);
}
#navaboutfootball{

    background-color: rgb(104, 77, 3);
}